
.aside{
    border: 4px dashed red;
    text-shadow: 3px 2px 4px black;
    padding: 3vh;
}

.subtituloAside{
    color: white;
}

.textoAside{
    color: #fca700;
}

.listaAside{
    color: white;
}